<!DOCTYPE html>
{{- if eq .Site.Language.Lang "pgsp" -}}
    {{- partial "splash" . -}}
{{- else -}}{{/* other page template */}}
<html lang="{{.Site.Language.Lang }}" itemscope itemtype="http://schema.org/WebPage">
<head>
    <meta charset="utf-8">
    <link rel="manifest" href="/manifest.json" crossorigin="use-credentials">
    {{- partial "seo_schema" . -}}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{- partial "head.html" . -}}
</head>
<body>
    <div class="container pl-0 pr-0">
        {{- partial "header.html" . -}}
        <main>
            {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}
        {{- partial "js.html" . -}}
    </div>
</body>
</html>
{{- end -}}