.h1,h1{font-size: 2rem;}
.h2,h2{font-size:1.75rem}
.h3,h3{font-size:1.5rem}
.h4,h4{font-size:1.25rem}
.h5,h5{font-size:1.15rem}
.h6,h6{font-size:1rem}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}
th,td {
  padding: .75rem;
  vertical-align: top;
  border: 1px solid #dee2e6;
}
th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
table > tbody + tbody {
  border-top: 2px solid #dee2e6;
}

#banner-img {
  width: 100%;
}

.btn-light.on-light {
  color: rgba(0,0,0,.5);
  border-color: rgba(0,0,0,.1);
}

.card-text:last-child {
  margin-bottom: 3rem;
}

#install-banner, #install-banner-ios {
  position: fixed;
  bottom: 3.5rem;
  margin: 0 auto;
  width: 100%;
}

#install-banner:hover {
  cursor: pointer;
  font-weight: bold;
}

.navbar.fixed-bottom {
  position: fixed;
  bottom: 0;
  justify-content: space-evenly;
  margin: 0 auto;
}
@media all and (min-width: 576px) {
  #install-banner, #install-banner-ios, .navbar.fixed-bottom {
    width: 540px;
  }
}
@media all and (min-width: 768px) {
  #install-banner, #install-banner-ios, .navbar.fixed-bottom {
    width: 720px;
  }
}
@media all and (min-width: 992px) {
  #install-banner, #install-banner-ios, .navbar.fixed-bottom {
    width: 960px;
  }
  
}
@media all and (min-width: 1200px) {
  #install-banner, #install-banner-ios, .navbar.fixed-bottom {
    width: 1140px;
  }
}
.navbar-light {
  background-color: rgb(250, 250, 250, .95)!important;
}

#settings {
  text-align: right;
}

.inv {
  clip: rect(1px,1px,1px,1px);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.sp-img {
  height: 200%;
  left: -50%;
  position: fixed;
  top: -50%;
  width: 200%;
}

.sp-img img {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  min-height: 50%;
  min-width: 50%;
  position: absolute;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.sp-hb {
  margin: 175px auto;
  max-width: 500px;
}

.sp-bx {
  background-color: #f8f8f8;
  padding: 30px 30px 19px;
}

.sp-bx-bt {
  background-color: #e1e4e7;
  padding: 30px 30px 13px;
}

@media (min-width: 1200px){
  .sp-bx .btn {
      box-shadow: 0 4px #ddd;
      margin: 35px 0 14px;
      min-width: 138px;
      padding: .5em 1.5em;
  }
}
@media (min-width: 992px) {
  .sp-bx .btn {
      box-shadow: 0 4px #ddd;
      margin: 35px 0 14px;
      min-width: 138px;
      padding: .5em 1.5em;
  }
}
@media (min-width: 768px) {
  .sp-bx .btn {
      box-shadow: 0 4px #ddd;
      margin: 35px 0 14px;
      min-width: 110px;
  }
}
.sp-bx .btn {
    box-shadow: 0 4px #ddd;
    margin: 35px 0 14px;
    min-width: 110px;
}

.sp-bx-bt .fas {
  color: #9e9e9e;
  font-size: 5px;
  position: relative;
  top: -3px;
}

[class^="rainbow-row-"] {
  display: block;
  width: calc(100% + 2.5rem);
  position: relative;
  left: -1.25rem;
  box-shadow: 0px -3px 3px 0px rgb(0, 0, 0, .33);
  color: #fff;
  text-shadow: -1px -1px 2px #000, 1px -1px 2px #000, 1px 1px 2px #000, -1px 1px 2px #000;
}

[class^="rainbow-row-"]:hover {
  color: #fff;
}

.rainbow-row-1 {
  background-color: #c3d941;
  border-top: 1px solid #c3d941;
}

.rainbow-row-2 {
  background-color: #b2b944;
  border-top: 1px solid #b2b944;
}

.rainbow-row-3 {
  background-color: #a09946;
  border-top: 1px solid #a09946;
}

.rainbow-row-4 {
  background-color: #8f7a49;
  border-top: 1px solid #8f7a49;
}

.rainbow-row-5 {
  background-color: #7e5a4c;
  border-top: 1px solid #7e5a4c;
}

.rainbow-row-6 {
  background-color: #6c3a4e;
  border-top: 1px solid #6c3a4e;
}

.rainbow-row-7 {
  background-color: #5b1a51;
  border-top: 1px solid #5b1a51;
}

[class^="rainbow-row-"] > img {
  max-height: 3rem;
}

.collapsible > .card-header > h5 > .list-group-item {
  padding-left: 1.6rem;
}

.collapsible > .card-header > h5 > .list-group-item:before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill:rgba(110, 109, 122, 1);transform:;-ms-filter:"><path d="M10.061 19.061L17.121 12 10.061 4.939 7.939 7.061 12.879 12 7.939 16.939z"></path></svg>');
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  position: absolute;
  left: 0;
  top: .7rem;
}

.collapsible > .card-header > h5 > .list-group-item.collapsed:before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill:rgba(110, 109, 122, 1);transform:;-ms-filter:"><path d="M16.939 7.939L12 12.879 7.061 7.939 4.939 10.061 12 17.121 19.061 10.061z"></path></svg>');
}

/* Netlify CMS styles */
.frame-content {
  padding: 1.5rem;
}
