{{ define "main" }}

<div class="container mb-4 pl-0 pr-0">
    <div class="card-body">
        {{- /*<h1 class="card-title"><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></h1> */ -}}
        <h1 class="card-title">{{ .Title | markdownify }}</h1>
        <hr/>
        <div class="card-text">{{ .Content }}</div>
    </div>
</div>

{{ end }}
