{{ with .Get 0 }}{{ else }}{{ errorf "Shortcode 'accordion' missing text for clickable title. Usage is {{<accordion \"Title text goes here\">}}Body text goes here{{</accordion>}}.\nIn file: %s" .Position}}{{ end }}
{{ with .Inner }}{{ else }}{{ errorf "Shortcode 'accordion' missing text for collapsible body. Usage is {{<accordion \"Title text goes here\">}}Body text goes here{{</accordion>}}.\nIn file: %s" .Position}}{{ end }}
{{ $id := substr (md5 .Inner) 0 16 }}

<div class="card accordion">
  <div class="card-header p-0" id="heading-{{$id}}">
    <h5 class="mb-0"><button class="list-group-item list-group-item-action text-primary collapsed" data-toggle="collapse" data-target="#collapse-{{$id}}" aria-expanded="false" aria-controls="collapse-{{$id}}">{{.Get 0}}</button></h5>
  </div>
  <div id="collapse-{{$id}}" class="collapse" aria-labelledby="heading-{{$id}}">
    <div class="card-body p-1 ml-3">
      {{.Inner}}
    </div>
  </div>
</div>