{{ with .Get 0 }}{{ else }}{{ errorf "Shortcode 'youtube' missing video id. Usage is {{<youtube \"09jf3ow9jfw\">}}.\nIn file: %s" .Position}}{{ end }}
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{.Get 0}}" allowfullscreen></iframe>
</div>