{{ $app := resources.Get "/js/firebase/firebase-app.js" }}
{{ $analytics := resources.Get "/js/firebase/firebase-analytics.js" }}
{{ $messaging := resources.Get "/js/firebase/firebase-messaging.js" }}
{{ $auth := resources.Get "/js/firebase/firebase-auth.js" }}
{{ $firestore := resources.Get "/js/firebase/firebase-firestore.js" }}
{{ $init := resources.Get "/js/firebase/init.js" }}
{{ $allscript := slice $app $analytics $messaging $auth $firestore $init | resources.Concat "/js/firebase.js" | minify }}
<script src="{{ $allscript.RelPermalink }}" integrity="{{ $allscript.Data.Integrity }}"></script>

<script>
  window.addEventListener('DOMContentLoaded', function() {
    firebase.analytics();
  });
</script>
