<div id="install-banner" class="alert alert-primary alert-dismissible fade invisible" role="alert">
    <span>{{ i18n "Install" }}</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div id="install-banner-ios" class="alert alert-primary alert-dismissible fade invisible" role="alert">
    <span>{{ i18n "Install-ios" |safeHTML }}</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

{{ $alwaysExpandMenu := "" }}
{{ if and (.Site.Params.alwaysExpandMenu) (eq .Site.Params.alwaysExpandMenu true) }}
    {{ $alwaysExpandMenu = "navbar-expand-lg" }}
{{ end }}

{{ $navClasses := "navbar-light" }}
{{ if and (.Site.Params.themeColor) (eq .Site.Params.themeColor "dark") }}
    {{ $navClasses = "navbar-dark bg-dark" }}
{{ end }}

<nav class="navbar {{ $navClasses }} {{ $alwaysExpandMenu }} border-top fixed-bottom">

    <div class="navbar-collapse collapse" id="menu">
        <ul class="navbar-nav mr-auto">
            {{ $currentPage := . }}
            {{ range $index, $element := .Site.Menus.main }}
                {{ if .HasChildren }}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-primary" href="#" id="dropdown{{$index}}" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">{{ .Pre }} {{ .Name }}</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown{{$index}}">
                        {{ range .Children }}
                            <a class="dropdown-item text-primary" href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a>
                        {{ end }}
                        </div>
                    </li>
                {{ else }}
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a>
                    </li>
                {{ end }}
            {{ end }}
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="settings">
        <div class="navbar-nav mr-auto d-inline-block">
            {{ partial "i18nlist.html" . }}
        </div>
    </div>
    
    <button class="collapsed btn btn-light on-light" type="button" data-toggle="collapse" data-target="#menu"
        aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation"
        onclick="$('#settings').collapse('hide')">
        <span class="fas fa-bars"></span>
    </button>

    <button class="btn btn-light on-light" type="button" aria-label="Navigate to home page" onclick='location.href={{ "/" | relLangURL }}'>
        <span class="fas fa-home"></span>
    </button>
    
    <button class="collapsed btn btn-light on-light" type="button" data-toggle="collapse" data-target="#settings"
        aria-controls="settings" aria-expanded="false" aria-label="Toggle settings"
        onclick="$('#menu').collapse('hide')">
        <span class="fas fa-cog "></span>
    </button>

</nav>
