<script>const lang = "{{ .Site.Language.Lang }}";</script>
{{ $jquery := resources.Get "/js/jquery-3.4.1.slim.min.js" }}
{{ $bootstrap := resources.Get "/js/bootstrap.min.js" }}
{{ $addToHomescreen := resources.Get "/js/addToHomescreen.js" }}
{{ $messaging := resources.Get "/js/firebase/messaging.js" }}
{{ $customjs := resources.Get "/js/custom.js" }}
{{/* $allscript := slice $jquery $bootstrap $addToHomescreen $messaging $customjs | resources.Concat "/js/vendor.js" | minify | fingerprint "sha512" */}}
{{/*<script src="{{ $allscript.RelPermalink }}" integrity="{{ $allscript.Data.Integrity }}"></script>*/}}
{{ $vendorscript := slice $jquery $bootstrap | resources.Concat "/js/vendor.js" | minify }}
{{ $customscript := slice $addToHomescreen $messaging $customjs | resources.Concat "/js/custom.js" | minify }}
<script src="{{ $vendorscript.RelPermalink }}"></script>
<script src="{{ $customscript.RelPermalink }}"></script>
<script type="module" src="/customElements.js"></script>

{{- range .Site.Params.jscdn }}
    <script src="{{ . }}"></script>
{{- end }}

{{- range .Params.jscdn }}
    <script src="{{ . }}"></script>
{{- end }}

{{- range .Site.Params.js }}
    {{ $pagescript := resources.Get . | minify | fingerprint "sha512" }}
    <script src="{{ $pagescript.RelPermalink }}" integrity="{{ $pagescript.Data.Integrity }}"></script>
{{- end }}

{{- range .Params.js }}
    {{ $pagescript := resources.Get . | minify | fingerprint "sha512" }}
    <script src="{{ $pagescript.RelPermalink }}" integrity="{{ $pagescript.Data.Integrity }}"></script>
{{- end }}

<script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator && location.hostname !== 'localhost') {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/sw.js');
        });
    }
</script>