<html lang="" itemscope itemtype="http://schema.org/WebPage">
  <meta charset="utf-8">
  <link rel="manifest" href="/manifest.json" crossorigin="use-credentials">
  {{- partial "seo_schema" . -}}
  <title>{{ .Site.Title }}</title>
  {{- partial "head.html" . -}}

  <body>
      <div class="sp-img">
          <!--img src="https://source.unsplash.com/collection/70401906/1080x768" /-->
          <img src="/sp-bg.jpg" alt="background" />
      </div>
      <main style="position:relative;">
          <h1 class="inv">{{ .Site.Title }}</h1>
          <div class="sp-hb">
              <div class="sp-bx col-12">
                  <div class="row">
                      <div class="col-11 col-md-8">
                          <img alt="Gouvernement du Canada / Government of Canada" src="/images/branding/sig-blk-fra.svg" />
                      </div>
                  </div>
                  <div class="row">
                      <section class="col-6 text-right" lang="fr">
                          <p><a href="/fr/" class="btn btn-primary">Français</a></p>
                      </section>
                      <section class="col-6" lang="en">
                          <p><a href="/en/" class="btn btn-primary">English</a></p>
                      </section>
                  </div>
              </div>
              <div class="sp-bx-bt col-12">
                  <div class="row">
                      <div class="col-7 col-md-8">
                          <a href="http://www.tpsgc-pwgsc.gc.ca/comm/ai-in-fra.html" lang="fr">Avis</a>
                          <span class="fas fa-asterisk"></span>
                          <a href="http://www.tpsgc-pwgsc.gc.ca/comm/ai-in-eng.html" lang="en">Terms &amp; conditions</a>
                      </div>

                      <div class="col-5 col-md-4 text-right mb-3">
                          <img src="/images/branding/wmms-spl.svg" alt="Symbole du gouvernement du Canada / Symbol of the Government of Canada">
                      </div>
                  </div>
              </div>
          </div>
      </main>
      {{- partial "js.html" . -}}
  </body>
</html>